*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Manrope', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}

.navbar{
    width: 1130px;
    height: 900px;
    background-color: #5855ee;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo-image{
    padding-top: 20px;
    padding-left: 30px;
}

.navbar-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;

}

.navbar-item{
    padding: 15px 15px 20px 20px;
}


.navbar-list{
    display: flex;
    align-items: center;
    
}

.nav-join{
    display: flex;
    margin-left: 100px;
}
.nav-join a {
    background-color: #ffc9d0;
    padding: 10px 10px;
}

.navbar-link{
    color: #ffffff;
}










.nav-list{
    padding: 100px;
    text-align: center;
    position: relative;
}

.nav-list h2 {
    font-size: 75px;
    font-weight: 700;
    line-height: 1.6;
    color: #ffffff;
}

.nav-list-button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: center;
    color: rgba(88, 85, 238, 1);
    border-radius: 10px;
    border: none;
    margin-left: 380px;

}

.nav-list-button img {
    padding-left: 10px;
}

.cloud-img1{
    position: absolute;
    top: 70%;
    left: 70%;
}

.cloud-img2{
    position: absolute;
    top: 100%;
    left: -1%;
}

.pc-img{
    width: 65%;
    position: absolute;
    top: 100%;
    left: 15%;
}






.business>.container{
    width: 1140px;
    margin: 0 auto;
    margin-top: 450px;
    display: flex;
    justify-content: center;
}

.business-image{
    width: 500px;
    margin-top: 100px;
}

.business-content{
    margin-left: 50px;
    padding-top: 100px;
}

.business-content-link{
    width: 71px;
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #5855ee;
}

.business-content-subtext{
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    width: 500px;
    height: 145px;
}

.business-content-subtext2{
    width: 570px;
    height: 97px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6b6b6b;
}







.box>.container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design{
    width: 40%;
    height: 470px;
    background-color: #fff7ed;
    margin: 10px;
    border-radius: 2%;
    position: relative;
    transition: .3s;
}

.design-image{
    width: 150px;
    position: absolute;
    height: 150px;
    left: 30%;
    top: 20%;
    margin: 0 auto;
}

.design-title{
    margin-top: 340px;
    text-align: center;
}

.design-subtext{
    margin-top: 20px;
    text-align: center;
    color: gray;
}

.design2{
    width: 40%;
    height: 470px;
    background-color: #f2f3ff;
    margin: 10px;
    border-radius: 2%;
    position: relative;
    transition: .3s;
}

.design3{
    width: 40%;
    height: 470px;
    background-color: #fff0f3;
    margin: 10px;
    border-radius: 2%;
    position: relative;
    transition: .3s;
}

